body {
    font-family: Quicksand, Arial, sans-serif;
}

img.logo {
    max-height: 90%;
    max-width: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#github-logo-icon {
    max-height: 35%;
    max-width: 35%;
    right: 0;
    position: relative;
    transform: translateY(-10%);
}

@media (max-width: 768px) {
    #github-logo-icon {
        max-height: 5%;
        max-width: 5%;
    }
}

#logo-icon {
    min-height: 13%;
    min-width: 13%;
    position: relative;
    top: 50%;
    transform: translateY(-15%);
    margin-right: .2em;
}

#header {
    background-color: #f5fcff;
    border-color: #003146;
}

#header-text {
    font-family: Audiowide, Arial, sans-serif;
    font-size: x-large;
    color: #003146;
}

#footer {
    background-color: #f5fcff;
    border-color: #003146;
}

#footer-text {
    font-size: small;
    color: #000;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}