// Vars
$primary-color: #3b5a76;
$background-color: #ededed;
$text-color: #363636;
$white: #fff;
$light-grey: #ccc;
$font: 16px;

body {
  background: $background-color;
  color: $text-color;
  font-family: 'Open Sans', Arial, Tahoma;
  font-size: $font;
  padding-bottom: 0;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.4em;
  text-transform: uppercase;
}

.primary,
strong,
h2 {
  color: $primary-color;
}

.container-main {
  background: $white;
  margin-top: 80px;
  padding: 0 30px 30px;
}

header {
  min-height: 100px;
  overflow: auto;

  h1 {
    font-size: 2.2em;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.4em;
    margin: 0;
    padding: 20px 0 0;
    text-align: center;
    text-transform: uppercase;
  }
}

row {
  margin-bottom: 20px;
}

.profile-img {
  display: block;
  margin: auto;
  margin-top: -80px;
  width: 160px;
}

.line {
  width: 100%;
}

.contact-list {
  margin: 0;
  padding: 0;

  li {
    font-weight: bold;
    line-height: 3.2em;
    list-style: none;
  }

  span {
    color: $light-grey;
    display: block;
    font-size: 15px;
    line-height: .1em;
    margin: 0;
    margin-left: 37px;
    padding: 0;
  }
}

.media {
  background: $background-color;
  padding: 10px;
}

.work-list {
  li {
    float: left;
    list-style: none;
    margin-bottom: 30px;
    padding: 0 10px;
  }
}

footer {
  background: $primary-color;
  color: $white;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}
